<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Selection Protocol{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block stylesheets %}{% endblock %}
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body class="flex flex-row">
    {% block content %}{% endblock %}

    <script>
        const socket = io();
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
